<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @vizit.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @vizit.place %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vizit.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @vizit.user_id %>
</p>

<%= link_to 'Edit', edit_vizit_path(@vizit) %> |
<%= link_to 'Back', vizits_path %>
